In [27]:
%reload_ext autoreload
%autoreload 2

from pathlib import Path

import numpy

from structlib import Structure

In [28]:
path = Path("~/Documents/research/AlN/ptycho").expanduser()
structure = Structure.from_file(path / 'AlN-super.xsf');
structure

Structure(atoms=      atomic_number        a          b        c symbol  frac_occupancy
0                13   2.5100   0.905360   -1.565     Al             1.0
1                13   2.5100   3.616020    0.000     Al             1.0
2                 7   4.4176   0.905360   -1.565      N             1.0
3                 7   4.4176   3.616020    0.000      N             1.0
4                 7   1.9076   1.805299    0.000      N             1.0
...             ...      ...        ...      ...    ...             ...
7995              7  24.4976  25.301296 -122.070      N             1.0
7996              7  21.9876  23.490575 -122.070      N             1.0
7997              7  21.9876  26.201235 -123.635      N             1.0
7998             13  20.0800  23.490575 -122.070     Al             1.0
7999             13  20.0800  26.201235 -123.635     Al             1.0

[8000 rows x 6 columns], symmetry_sites=[], cell_size=Vec3([ 25.1       ,  27.10659515, 125.2       ]), cell_angle=Vec3([1.57079633, 1.57079633, 1.57079633]), n_cells=Vec3([1, 1, 1]), global_transform=AffineTransform(
array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])
), ortho=LinearTransform(
array([[   0.        ,    0.        , -125.2       ],
       [   0.        ,   27.10659515,    0.        ],
       [  25.1       ,    0.        ,    0.        ]])
), ortho_inv=LinearTransform(
array([[ 0.        ,  0.        ,  0.03984064],
       [ 0.        ,  0.03689139,  0.        ],
       [-0.00798722, -0.        , -0.        ]])
), metric=LinearTransform(
array([[15675.04      ,     0.        ,     0.        ],
       [    0.        ,   734.76750063,     0.        ],
       [    0.        ,     0.        ,   630.01      ]])
), metric_inv=LinearTransform(
array([[6.37956905e-05, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.36097473e-03, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.58727639e-03]])
), ortho_global=AffineTransform(
array([[   0.        ,    0.        , -125.2       ,    0.        ],
       [   0.        ,   27.10659515,    0.        ,    0.        ],
       [  25.1       ,    0.        ,    0.        ,    0.        ],
       [   0.        ,    0.        ,    0.        ,    1.        ]])
), _init=True)

In [29]:
structure.atoms.describe()

       atomic_number          a            b            c  frac_occupancy
count    8000.000000  8000.0000  8000.000000  8000.000000          8000.0
mean       10.000000    12.2488    13.553298   -61.817500             1.0
std         3.000188     7.2727     7.799256    36.141562             0.0
min         7.000000     0.0000     0.905360  -123.635000             1.0
25%         7.000000     6.4507     7.001634   -92.726250             1.0
50%        10.000000    12.2488    13.553298   -61.817500             1.0
75%        13.000000    18.0469    20.104962   -30.908750             1.0
max        13.000000    24.4976    26.201235     0.000000             1.0

In [30]:
structure.atoms['c'] += structure.cell_size[2]

structure.atoms['wobble'] = 0.097  # sqrt(0.30e-2 + 0.65e-2)

structure.atoms.loc[structure.atoms['c'] < 25.2, 'wobble'] = 4.

In [15]:
structure.atoms

,atomic_number,a,b,c,symbol,frac_occupancy,wobble
0,13,2.5100,0.905360,-1.565,Al,1.0,4.000
1,13,2.5100,3.616020,0.000,Al,1.0,4.000
2,7,4.4176,0.905360,-1.565,N,1.0,4.000
3,7,4.4176,3.616020,0.000,N,1.0,4.000
4,7,1.9076,1.805299,0.000,N,1.0,4.000
...,...,...,...,...,...,...,...
7995,7,24.4976,25.301296,-122.070,N,1.0,0.097
7996,7,21.9876,23.490575,-122.070,N,1.0,0.097
7997,7,21.9876,26.201235,-123.635,N,1.0,0.097
7998,13,20.0800,23.490575,-122.070,Al,1.0,0.097
7999,13,20.0800,26.201235,-123.635,Al,1.0,0.097

In [6]:
structure.write_xyz(path / 'AlN-wobble.xyz')

In [22]:
structure.cell_size

Vec3([ 25.1       ,  27.10659515, 125.2       ])

In [31]:
structure.atoms['a'] /= structure.cell_size[0]
structure.atoms['b'] /= structure.cell_size[1]
structure.atoms['c'] /= structure.cell_size[2]

In [32]:
fmt = "    - {{ x: {x}, y: {y}, z: {z}, elem: {elem}, wobble: {wobble} }}\n"

#yaml = "\n".join(fmt.format(i=row.Index, elem=row.symbol, atomic=row.atomic_number, x=row.a, y=row.b, z=row.c, wobble=row.wobble, frac_occupancy=row.frac_occupancy) for row in structure.atoms.itertuples())

with open(path / 'AlN-tc-raw.yaml', 'w') as f:
    f.writelines(fmt.format(i=row.Index, elem=row.symbol, atomic=row.atomic_number, x=row.a, y=row.b, z=row.c, wobble=row.wobble, frac_occupancy=row.frac_occupancy) for row in structure.atoms.itertuples())

In [ ]:
yaml

In [34]:
structure.cell_size[0] / structure.cell_size[1]

0.9259739137690999